
<H1>CasCade DropDown</H1>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-check-inline">
                <label for="cars">Choose Contry</label>

                <select class=" form-control dropdown m-4 w-100" id="Country">
                    <option value="volvo">---Select---</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
    </div>
</div>

